<div class="bg-danger">
  <%= form_with model: @intake, local:true do |f| %>
  <div class="form">
    <%= f.label "メニュー" %>
    <%= f.text_field :menu_name %>
  </div>

   <div class="form">
    <%= f.label "材料" %>
    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %>
  </div>

  <div class="form">
    <%= f.label "何ご飯?" %>
    <%= f.select :status, Intake.statuses.keys.map{|k| [I18n.t("enums.intake.status.#{k}"), k]},{class: ""} %>
  </div>

  <div class="form">
    <%= f.label "日付" %>
    <%= f.date_field :start_time %>
  </div>

  <dic class="form">
    <%= f.label "めも" %>
    <%= f.text_area :memo, row: 3 %>
  </dic>

    <%= f.submit %>

<% end %>
</div>