<div id="mask" class="hidden"></div>
  <%= form_with model: intake, local: true do |f| %>
    <table>
      <tr>
        <th><%= f.label "日付" %></th>
        <th><%= f.date_field :start_time %></th>
      <tr>

      <tr>
        <th><%= f.label "写真"%></th>
        <th><%= f.file_field :image, accept: 'image/*'  %></th>
      </tr>

      <tr>
        <th><%= f.label "メニュー" %></th>
        <th><%= f.text_field :menu_name %></th>
      <tr>

      <tr>
        <th><%= f.label "材料" %></th>
        <th>
          <%= select_tag 'intake[name]', options_from_collection_for_select(Ingredient.all, :name, :name), class: "form-control ingredient-box", multiple: true %>
        </th>
      <tr>

      <tr>
        <th><%= f.label "何ご飯?" %></th>
        <th><%= f.select :status, Intake.statuses.keys.map{|k| [I18n.t("enums.intake.status.#{k}"), k]},{class: ""} %></th>
      <tr>

      <tr>
        <th><%= f.label "めも" %></th>
        <th><%= f.text_area :memo, row: 3 %></th>
      <tr>

      <tr>
        <td></td>
        <td class="text-right">
        <%= f.submit "記録", class: "btn btn-primary" %>
        </td>
      </tr>

    </table>
  <% end %>

<div id="mask" class="hidden"></div>

  <!--後で修正-->
  <script>
  $(function () {
      $('#intake_name').select2();
  });
  </script>

