投稿へんしゅーーー
<%#= render "layouts/error",  table: @intake %>
<div class="bg-danger">
  <%= form_with model: @intake, local:true do |f| %>
  <div class="form">
    <%= f.label "メニュー" %>
    <%= f.text_field :name, autocomplete: "name" %>
    <%= f.label "menu_-id" %>
    <%= f.text_field :menu_id %>
  </div>

  <div class="form">
    <%= f.label "何ご飯?" %>
    <%= f.select :status, Intake.statuses.keys.map{|k| [I18n.t("enums.intake.status.#{k}"), k]},{class: ""} %>
  </div>

  <div class="form">
    <%= f.label "日付" %>
    <%= f.date_field :start_time %>
  </div>

    <%= f.submit %>

<% end %>
</div>