<h1>Public::Users#edit</h1>
<p>Find me in app/views/public/users/edit.html.erb</p>

<%#= render table: @user %>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class= "form-box border my-3 p-2 py-3">
        <%= form_with model: @user do |f| %>
        <div class="form">
          <%= f.label "ユーザーアイコン"%>
          <%= f.file_field :user_image, accept: 'image/*'  %>
        </div>

        <div class="form">
          <%= f.label "ユーザーネーム" %>
          <%= f.text_field :name %>
        </div>
          <%= f.submit %>
        <% end %>
      </div>


    </div>
    <div class="col-md-2 border my-3">
      <h4>今週</h4>
      グラフ

      <h4>先月</h4>
      グラフ
    </div>
  </div>
</div>