<div class="container">
  <div class="row">
      <div class="col-md-9 border m-2 p-2">
        <strong class="m-3">👑ランキング👑</strong>
        <table class="rank border col-md-7 mt-4">
          <% @user_rank.each.with_index(1) do |user, i| %>
            <tr class="rank-list d-flex flex-row p-2 m-2">
              <td><%= i %> 位 :　</td>
              <td><%= image_tag user.get_user_image(30,30), class: "user-icon" %></td>
              <td class="text-center mx-auto">
                <% if user.id == current_user.id %>
                  <p class="text-success">　〜<strong>あなた</strong>〜</p>
                <% else %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <% if user.rank_status >= 0 && user.rank_status <= 9 %>
                  <%= image_tag "1.jpg", size: "30x30" %>
                <% elsif user.rank_status > 9 && user.rank_status <= 21 %>
                  <%= image_tag "2.jpg", size: "30x30" %>
                <% elsif user.rank_status > 21 && user.rank_status <= 42 %>
                  <%= image_tag "3.jpg", size: "30x30" %>
                <% elsif user.rank_status > 42 && user.rank_status <= 63 %>
                  <%= image_tag "4.jpg", size: "30x30" %>
                <% elsif user.rank_status > 63 %>
                  <%= image_tag "5.jpg", size: "30x30" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="col-md-7 mt-4">
          <p>あなたのユーザランキングは、現在<strong class="text-danger"><%= @ranking-1 %></strong>位です。</p>
          <% if @ranking-1 == 1 %>
            <p>引き続きこの座を維持し、健康的な生活を続けましょう!!</p>
          <% else %>
            <p>
              トップユーザーを目指す場合は、規則正しい食生活と記録が重要になります。<br>
              適度なバランスで、適度な食事を心がけましょう。
              <div class="">ヒント:記録はその日に記録していますか？忘れないようにできるだけ当日の記録を心がけましょう</div>
            </p>
          <% end %>
        </div>
      </div>

      <div class="col-md-2 border m-2 p-2">
        <h4>今週</h4>
        グラフ
        <%= image_tag "graph.jpg", class: "image-fluid" %>
        <h4>先月</h4>
        グラフ
        <%= image_tag "graph.jpg", class: "image-fluid" %>
      </div>

  </div>
</div>