<%#= render "layouts/error", table: @intake %>
<%= render "public/intakes/form", intake: @intake_new %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center border my-3">
      <div class="bar-item">
        <%= link_to "ランキング", users_rank_path %>
      </div>
    </div>

    <div class="col-md-2 border my-3">
      <h4>今週</h4>
      グラフ

      <h4>先月</h4>
      グラフ
    </div>

    <div class="col-md-10">
      <div class="calendar border my-3 p-2 py-3">
        <%= month_calendar events: @intakes do |date, intakes| %>
          <%= date.day %><br>

          <% unless intakes == nil %>
              <div class="intake-breakfast d-flex flex-row">
                <p class="m-1">朝:</p>
                <% intakes.each do |intake| %>
                  <% if intake.status == "breakfast" %>
                    <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-dark m-1" %>
                  <% end %>
                <% end %>
              </div>

              <div class="intake-lunch d-flex flex-row">
                <p class="m-1">昼:</p>
                <% intakes.each do |intake| %>
                  <% if intake.status == "lunch" %>
                    <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-dark m-1" %>
                  <% end %>
                <% end %>
              </div>

              <div class="intake-dinner d-flex flex-row">
                <p class="m-1">夜:</p>
                <% intakes.each do |intake| %>
                  <% if intake.status == "diner" %>
                    <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-dark m-1" %>
                  <% end %>
                <% end %>
              </div>

              <div class="intake-snack d-flex flex-row">
                <p class="m-1">間食:</p>
                <% intakes.each do |intake| %>
                  <% if intake.status == "snack" %>
                    <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-dark m-1" %>
                  <% end %>
                <% end %>
              </div>

          <% end %>
        <% end %>
        <div class="btn btn-primary">食事を記録する(dummy)</div>
        <%#= link_to "食事を記録する", new_intake_path %>
      </div>

      <div class="user-box border my-3 p-2">
        <table>
          <tr class="d-flex flex-row">
            <td><%= image_tag current_user.get_user_image(20,20), class: "user-icon" %></td>
            <td><strong><%= current_user.name %></strong></td>
          </tr>

           <tr class="d-flex flex-row">
              <% if @user.rank_status >= 0 && @user.rank_status <= 9 %>
                <td><%= image_tag "1.jpg", size: "50x50" %></td>
                <td>あなたのステータスは<strong>"たね"</strong>です。</td>
              <% elsif @user.rank_status > 9 && @user.rank_status <= 21 %>
                <td><%= image_tag "2.jpg", size: "50x50" %></td>
                <td>あなたのステータスは<strong>"苗"</strong>です。</td>
              <% elsif @user.rank_status > 21 && @user.rank_status <= 42 %>
                <td><%= image_tag "3.jpg", size: "50x50" %></td>
                <td>あなたのステータスは<strong>"謎の葉"</strong>です。</td>
              <% elsif @user.rank_status > 42 && @user.rank_status <= 63 %>
                <td><%= image_tag "4.jpg", size: "50x50" %></td>
                <td>あなたのステータスは<strong>"謎の果実"</strong>です。</td>
              <% elsif @user.rank_status > 63 %>
                <td><%= image_tag "5.jpg", size: "50x50" %></td>
                <td>あなたのステータスは<strong>"いちご"</strong>です。</td>
              <% end %>
          </tr>

          <tr>
            <td></td>
            <td>
              <% if @user.name != "guestuser" %>
                <%= link_to "編集する", edit_user_path(current_user.id) %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>


    </div>

    <div class="col-md-12 border my-3">
      <div>〜〜お知らせ〜〜</div>
      <%= render "admin/notifications/index", notifications: @notifications %>


    </div>
  </div>
</div>