<%#= render "layouts/error", table: @intake %>
<%= render "public/intakes/form", intake: @intake_new %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center border my-3">
      <p>投稿  週グラフ  月グラフ</p>
    </div>

    <div class="col-md-2 border my-3">
      <h4>今週</h4>
      グラフ

      <h4>先月</h4>
      グラフ
    </div>

    <div class="col-md-10">
      <div class="calendar border my-3 p-2 py-3">
        <%= month_calendar events: @intakes do |date, intakes| %>
          <%= date.day %><br>

          <% intakes.each do |intake| %>
            <div>
              <% if intake.status == "breakfast" %>
                <div class="intake-breakfast d-flex flex-row">
                  <p>朝:</p>
                  <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-dark" %>
                </div>
              <% elsif intake.status == "lunch" %>
                <div class="intake-lunch d-flex flex-row">
                  <p>昼:</p>
                  <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-dark" %>
                </div>
              <% elsif intake.status == "dinner" %>
                <div class="intake-dinner d-flex flex-row">
                  <p>夜:</p>
                  <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-white" %>
                </div>
              <% elsif intake.status == "snack" %>
                <div class="intake-snack d-flex flex-row">
                  <p>間食:</p>
                  <%= link_to intake.menu_name, edit_intake_path(intake), class: "text-dark" %>
                </div>
              <% end %>

            </div>
          <% end %>
        <% end %>
        <%#= link_to "食事を記録する", new_intake_path %>
      </div>

      <div class="user-box border my-3 p-2">
        <%= image_tag current_user.get_user_image(40,40) %> your.name:<strong><%= current_user.name %></strong>

        <div class="status-box d-flex flex-row">
          <% if @user.rank_status == 1 %>
            <%= image_tag "1.jpg", size: "50x50" %>
            <p class="text-bottom">あなたのステータスは<strong>"たね"</strong>です。</p>
          <% elsif @user.rank_status == 2 %>
            <%= image_tag "2.jpg", size: "50x50" %>
            <p>あなたのステータスは<strong>"苗"</strong>です。</p>
          <% elsif @user.rank_status == 3 %>
            <%= image_tag "3.jpg", size: "50x50" %>
            <p>あなたのステータスは<strong>"謎の葉"</strong>です。</p>
          <% elsif @user.rank_status == 4 %>
            <%= image_tag "4.jpg", size: "50x50" %>
            <p>あなたのステータスは<strong>"謎の果実"</strong>です。</p>
          <% elsif @user.rank_status == 5 %>
            <%= image_tag "5.jpg", size: "50x50" %>
            <p>あなたのステータスは<strong>"いちご"</strong>です。</p>
          <% end %>

        </div>

        <div class="">
          <%= link_to "編集する", edit_user_path(current_user.id) %>
        </div>
      </div>


    </div>

  </div>
</div>